.chat-body-left-container{
    width:25vw;
    min-height: 89vh;
    max-height: 89vh;
    overflow-y: auto;
    border-right:1px solid whitesmoke;
}

.chat-contact{
    padding:10px 20px;
    border:0px;
    outline: 1px solid whitesmoke;
}

.chat-contact:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.contact-label{
    text-align: center;
    padding:20px 40px;
    font-weight: bold;
    border-bottom:1px solid whitesmoke;
}