.new-chat-window-inner-container{
    padding:10px;
}

.new-chat-user-search-box{
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 10px;
    height: 50px;
}

.new-chat-window-footer-box{
    display: flex;
    flex-direction: row-reverse;
}
.new-chat-user-result-box{
    height:100px;
    display: flex;
}
.chat-dialog{
    position:fixed;
    top:200px;
    border:0px;
    background-color: transparent;
    outline:1px solid whitesmoke;
}

.chat-dialog-close-btn{
    padding:10px 20px;
    background-color: transparent;
    border:0px;
    outline: 1px solid whitesmoke;
}

.chat-dialog-close-btn:hover{
    background-color: whitesmoke;
    color:black;
}

.chat-dialog-say-hi-btn{
    padding:10px 20px;
    background-color: transparent;
    border:0px;
    width:100%;
    outline: 1px solid whitesmoke;
}

.chat-dialog-say-hi-btn:hover{
    background-color: whitesmoke;
    color:black;
}